@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 220 10% 25%;
    --card: 0 0% 98%;
    --card-foreground: 220 10% 25%;
    --popover: 0 0% 98%;
    --popover-foreground: 220 10% 25%;
    --primary: 175 35% 41%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 10% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 60%;
    --muted-foreground: 0 0% 40%;
    --accent: 45 93% 65%;
    --accent-foreground: 220 10% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 175 35% 41%;
    --radius: 1rem;
  }

  .dark {
    --background: 220 10% 20%;
    --foreground: 0 0% 98%;
    --card: 220 10% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 220 10% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 175 35% 41%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 60%;
    --muted-foreground: 0 0% 80%;
    --accent: 45 93% 65%;
    --accent-foreground: 220 10% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 10% 30%;
    --input: 220 10% 30%;
    --ring: 175 35% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
